In [1]:
#https://www.youtube.com/watch?v=_C8kWso4ne4

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("dataframe").getOrCreate()

In [4]:
df_pyspark= spark.read.csv('test1_4.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
+----+---+----------+------+

## Filter Operations

In [6]:
# Salary가 20000 이하인 행만 출력
df_pyspark.filter("Salary<=20000").show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   E| 30|         1| 14000|
+----+---+----------+------+

In [8]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+----+---+
|Name|age|
+----+---+
|   B| 32|
|   C| 25|
|   E| 30|
+----+---+

In [10]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   E| 30|         1| 14000|
+----+---+----------+------+

In [13]:
#AND
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                 (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   B| 32|         1| 20000|
+----+---+----------+------+

In [14]:
#OR
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                 (df_pyspark['Salary']>=15000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
+----+---+----------+------+

In [15]:
#NOT
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   D| 40|         5| 32000|
|   F| 14|         3| 30000|
+----+---+----------+------+