In [50]:
from pyspark.sql import SparkSession

In [51]:
spark=SparkSession.builder.appName("Dataframe").getOrCreate()

In [52]:
spark

In [53]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test1_2.csv',inferSchema=True)

In [54]:
df_pyspark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|seong| 24|         2|
|  han| 24|         1|
|  heo| 25|         3|
+-----+---+----------+

In [55]:
## Check the schema
df_pyspark.printSchema()
#정수형 인식

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [56]:
df_pyspark=spark.read.csv('test1_2.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|seong| 24|         2|
|  han| 24|         1|
|  heo| 25|         3|
+-----+---+----------+

In [57]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [58]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [59]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [60]:
df_pyspark.head(3)

[Row(Name='seong', age=24, Experience=2),
 Row(Name='han', age=24, Experience=1),
 Row(Name='heo', age=25, Experience=3)]

In [61]:
df_pyspark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|seong| 24|         2|
|  han| 24|         1|
|  heo| 25|         3|
+-----+---+----------+

In [62]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [63]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|seong|
|  han|
|  heo|
+-----+

In [64]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [65]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|seong|         2|
|  han|         1|
|  heo|         3|
+-----+----------+

In [66]:
df_pyspark['Name']

Column<'Name'>

In [67]:
#Error 발생함
#df_pyspark['Name'].show()

In [68]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [69]:
df_pyspark.describe().show()

+-------+-----+------------------+----------+
|summary| Name|               age|Experience|
+-------+-----+------------------+----------+
|  count|    3|                 3|         3|
|   mean| null|24.333333333333332|       2.0|
| stddev| null|0.5773502691896258|       1.0|
|    min|  han|                24|         1|
|    max|seong|                25|         3|
+-------+-----+------------------+----------+

In [70]:
### Dataframe에 열 추가하기
df_pyspark=df_pyspark.withColumn('Experience After 2 Year',df_pyspark['Experience']+2)

In [71]:
df_pyspark.show()

+-----+---+----------+-----------------------+
| Name|age|Experience|Experience After 2 Year|
+-----+---+----------+-----------------------+
|seong| 24|         2|                      4|
|  han| 24|         1|                      3|
|  heo| 25|         3|                      5|
+-----+---+----------+-----------------------+

In [74]:
### 열 삭제하기
df_pyspark= df_pyspark.drop('Experience After 2 Year')

In [75]:
df_pyspark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|seong| 24|         2|
|  han| 24|         1|
|  heo| 25|         3|
+-----+---+----------+

In [76]:
### 열 이름 변경하기
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   seong| 24|         2|
|     han| 24|         1|
|     heo| 25|         3|
+--------+---+----------+