In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
df_pyspark= spark.read.csv('test1_3.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|null|  24|        10| 38000|
|null|  56|      null|  null|
+----+----+----------+------+

In [8]:
### 열 삭제
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  20|         2| 30000|
|  32|         1| 20000|
|  25|         3| 10000|
|  40|         5| 32000|
|  30|         1| 14000|
|  14|         3| 30000|
|null|      null| 50000|
|  24|        10| 38000|
|  56|      null|  null|
+----+----------+------+

In [9]:
df_pyspark.show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|null|  24|        10| 38000|
|null|  56|      null|  null|
+----+----+----------+------+

In [11]:
#null 값있는 행 모두 삭제
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
+----+---+----------+------+

In [13]:
# default=> any
# all 일 경우 모든 행이  null일경우 삭제
df_pyspark.na.drop(how='all').show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|null|  24|        10| 38000|
|null|  56|      null|  null|
+----+----+----------+------+

In [15]:
df_pyspark.na.drop(how='any').show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
+----+---+----------+------+

In [21]:
# threshold
# 각 행에서 not null 의 개수가 thresh값보다 작을 경우 삭제 
df_pyspark.na.drop(how='any',thresh=2).show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|null|  24|        10| 38000|
+----+----+----------+------+

In [23]:
df_pyspark.na.drop(how='any',thresh=3).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
|null| 24|        10| 38000|
+----+---+----------+------+

In [27]:
## Subset => 해당 열의 null 값만 보겠다
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+----+---+----------+------+
|Name|age|Experience|Salary|
+----+---+----------+------+
|   A| 20|         2| 30000|
|   B| 32|         1| 20000|
|   C| 25|         3| 10000|
|   D| 40|         5| 32000|
|   E| 30|         1| 14000|
|   F| 14|         3| 30000|
|null| 24|        10| 38000|
+----+---+----------+------+

In [35]:
# 결측값 채우기
df_pyspark.na.fill('9999','Name').show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|9999|  24|        10| 38000|
|9999|  56|      null|  null|
+----+----+----------+------+

In [32]:
# 결측값 채우기
df_pyspark.na.fill(9999,['Experience','age']).show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|9999|      9999| 50000|
|null|  24|        10| 38000|
|null|  56|      9999|  null|
+----+----+----------+------+

In [36]:
df_pyspark.show()

+----+----+----------+------+
|Name| age|Experience|Salary|
+----+----+----------+------+
|   A|  20|         2| 30000|
|   B|  32|         1| 20000|
|   C|  25|         3| 10000|
|   D|  40|         5| 32000|
|   E|  30|         1| 14000|
|   F|  14|         3| 30000|
|   G|null|      null| 50000|
|null|  24|        10| 38000|
|null|  56|      null|  null|
+----+----+----------+------+

In [37]:
from pyspark.ml.feature import Imputer

In [38]:
#선언한 열의 결측 값을 각 열의 평균으로 대체하는 코드
imputer = Imputer(inputCols=['age','Experience','Salary'],
                 outputCols=['{}_imputed'.format(c) for c in ['age','Experience','Salary']]
                 ).setStrategy('mean') #median 등

In [42]:
df_pyspark.describe().show()

+-------+----+------------------+------------------+-----------------+
|summary|Name|               age|        Experience|           Salary|
+-------+----+------------------+------------------+-----------------+
|  count|   7|                 8|                 7|                8|
|   mean|null|            30.125|3.5714285714285716|          28000.0|
| stddev|null|13.076014027873436| 3.154739442867026|13049.35685333627|
|    min|   A|                14|                 1|            10000|
|    max|   G|                56|                10|            50000|
+-------+----+------------------+------------------+-----------------+

In [44]:
#추가 열 생성 및 결측값 처리
imputer.fit(df_pyspark).transform(df_pyspark).show()

+----+----+----------+------+-----------+------------------+--------------+
|Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+----+----+----------+------+-----------+------------------+--------------+
|   A|  20|         2| 30000|         20|                 2|         30000|
|   B|  32|         1| 20000|         32|                 1|         20000|
|   C|  25|         3| 10000|         25|                 3|         10000|
|   D|  40|         5| 32000|         40|                 5|         32000|
|   E|  30|         1| 14000|         30|                 1|         14000|
|   F|  14|         3| 30000|         14|                 3|         30000|
|   G|null|      null| 50000|         30|                 3|         50000|
|null|  24|        10| 38000|         24|                10|         38000|
|null|  56|      null|  null|         56|                 3|         28000|
+----+----+----------+------+-----------+------------------+--------------+