In [ ]:
#pip install pyspark

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('test1.csv')

    Name  age
0  seong   24
1    han   24
2    heo   25

In [15]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [3]:
from pyspark.sql import SparkSession

In [5]:
#session 정의
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
#RuntimeError: Java gateway process exited before sending its port number jupyter notebook pyspark
#https://pythontechworld.com/issue/jupyter/docker-stacks/884 해결

In [6]:
spark

In [7]:
#데이터 읽어오기
df_pyspark= spark.read.csv('test1.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [9]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|age|
|seong| 24|
|  han| 24|
|  heo| 25|
+-----+---+

In [20]:
df_pyspark= spark.read.option('header','true').csv('test1.csv')

In [22]:
df_pyspark.show()

+-----+---+
| Name|age|
+-----+---+
|seong| 24|
|  han| 24|
|  heo| 25|
+-----+---+

In [23]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.head(3)

[Row(Name='seong', age='24'),
 Row(Name='han', age='24'),
 Row(Name='heo', age='25')]

In [26]:
df_pyspark.printSchema

In [27]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)