In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Agg").getOrCreate()

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv("Test5.csv",header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+----+------------+------+
|Name| Departments|salary|
+----+------------+------+
|   A|Data science| 10000|
|   A|         IOT|  5000|
|   B|    Big Data|  4000|
|   A|    Big Data|  4000|
|   B|Data science|  3000|
|   C|Data science| 20000|
|   C|         IOT| 10000|
|   C|    Big Data|  5000|
|   D|Data science| 10000|
|   D|    Big Data|  2000|
+----+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
# GroupBy
# 이름별 평균, 합계 계산
df_pyspark.groupBy("Name").sum().show()

+----+-----------+
|Name|sum(salary)|
+----+-----------+
|   B|       7000|
|   D|      12000|
|   C|      35000|
|   A|      19000|
+----+-----------+

In [11]:
# 
df_pyspark.groupBy("Departments").sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|Data science|      43000|
|    Big Data|      15000|
+------------+-----------+

In [12]:
df_pyspark.groupBy("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|Data science|    10750.0|
|    Big Data|     3750.0|
+------------+-----------+

In [15]:
df_pyspark.groupBy("Departments").avg().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|Data science|    10750.0|
|    Big Data|     3750.0|
+------------+-----------+

In [13]:
df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|Data science|    4|
|    Big Data|    4|
+------------+-----+

In [14]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+